*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    position: relative;
    left: -40px;
    width: 100%;
}

i {
    color: #fff;
    margin: 0 15px;
}

li {
    list-style: none;
    margin: 20px 0;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
}

a,
li,
button {
    transition: 0.5s;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.sub-title {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.sub-heading {
    font-size: 18px;
    color: #618acd;
    line-height: 1em;
    text-transform: uppercase;
}

h3.job-designation {
    color: #618acd;
    font-size: 24px;
}

h3.right-sub-heading {
    font-size: 16px;
}

p {
    font-size: 14px !important;
    line-height: 24px !important;
}

/*CONTAINER*/
.row {
    width: 100%;
    position: relative;
}

.row .section_left {
    padding: 20px;
    background: #004489;
    color: #fff;
    padding-top: 100px;
    height: 1900px;
}

.row .section_left img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
}

.row .section_right {
    padding: 30px;
    float: right;
    top: 0;
    right: 0;
}

a.links {
    color: black;
}

a.links:hover {
    color: #618acd;
}

a#side-links {
    color: white;
}

/* @media (max-width:920px) {
    .container .section_left {
        width: 100%;
        display: block;
    }

    .container .section_right {
        width: 100%;
        position: static;
        display: block;
    }
} */

  /********** Large devices only **********/
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1079px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
